.btn-standard{
    color:#fff;
    background-color:#42b983;
    border-color:rgba(0,0,0,0.2);
    padding:0px 12px;
    margin: 6px;
    line-height:40px;
    font-size:1.3em;
    text-align:center;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    border:1px solid transparent;
    text-decoration: none;
}

.btn-standard:hover{
    color:#fff;
    background-color:#2e855e;
    border-color:rgba(0,0,0,0.2);
    text-decoration: none;
}

.btn-disabled{
    color:#fff;
    background-color:#d3d6d8;
    border-color:rgba(0,0,0,0.2);
    padding:0px 12px;
    margin: 6px;
    line-height:40px;
    font-size:1.3em;
    text-align:center;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    border:1px solid transparent;
    text-decoration: none;
}

.btn-disabled:hover{
    color:#fff;
    background-color:#d3d6d8;
    border-color:rgba(0,0,0,0.2);
    cursor:default;
    text-decoration: none;
}

.btn-download{
    padding:3px 6px;
    margin: 3px;
    line-height:25px;
    font-size:1em;
}

.progress {
    max-width: 500px;
    height: 2rem;
    margin: 18px auto;
    border: 1px solid black;
}

.progress-bar {
    background-color: #42b983;
}

.checkmark {
    color: green;
}

.processing {
    color:#a1abb3;
}

b {
    font-size: larger;
    font-weight: 900;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

b+b {
    margin-left: 5px;
}

.tooltip-inner {
    max-width: 400px;
}

small {
    font-size: x-small;
}

.table {
    width: 90%;
    margin: 24px auto;
}
